<main>
  <h1 class='text-center text-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercase'>Second</h2>
  <h3 class='text-capitalize'>Third second first</h3>

  <hr />

  <div class='display-1 text-muted'>Hello world</div>
  <div class='display-5'>Second</div>
  <div class='display-6'>Third</div>

  <hr />

  <div class='text-muted text-end'>Additional text</div>

  <hr />

  <a href='#' class='btn btn-primary'>
    <span class='text-uppercase'>Button</span>
  </a>

  <hr />

  <p class='text-secondary'>My text</p>
  <p class='text-muted'>My text</p>

  <hr />

  <div class='card'>
    <div class='card-body'>
      <button
        class='btn btn-secondary btn-lg'
      >Додати</button>
      <button
        class='btn btn-outline-secondary btn-sm'
      >Редагувати</button>
      <button
        class='btn btn-outline-danger'
      >Видалити</button>
    </div>
  </div>

  <br />

  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>

</main>