{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main>
  <div class='mb-5'>
    <h1 class='mb-3 mt-5'>Список сторінок</h1>
    <p>It was very interesting project. I realy love it. I
      studied HTML, Handlebars and Bootstrap thanks to this
      project!
    </p>
  </div>
  <section>
    <div><a
        href='/summary'
        class='btn btn-primary mb-3'
      >Summary</a>
    </div>
    <div><a
        href='/skills'
        class='btn btn-primary mb-3'
      >Skills</a>
    </div>
    <div><a
        href='/education'
        class='btn btn-primary mb-3'
      >Education</a>
    </div>
    <div><a
        href='/work'
        class='btn btn-primary mb-3'
      >Work</a>
    </div>
    <div><a
        href='/person'
        class='btn btn-primary mb-3'
      >Person</a>
    </div>
    <div><a href='/bio' class='btn btn-primary mb-3'>Bio</a>
    </div>
    <div><a
        href='/program'
        class='btn btn-primary mb-3'
      >Program</a>
    </div>
    <div><a href='/web' class='btn btn-primary mb-3'>Web</a>
    </div>
    <div><a href='/js' class='btn btn-primary mb-3'>Js</a>
    </div>
    <div><a href='/car' class='btn btn-primary mb-3'>Car</a>
    </div>
    <div><a href='/mac' class='btn btn-primary mb-3'>Mac</a>
    </div>
    <div><a
        href='/facebook'
        class='btn btn-primary mb-3'
      >Facebook</a>
    </div>
    <div><a
        href='/task21'
        class='btn btn-primary mb-3'
      >Task21</a>
    </div>
    <div><a
        href='/task22'
        class='btn btn-primary mb-3'
      >Task22</a>
    </div>
    <div><a
        href='/task31'
        class='btn btn-primary mb-3'
      >Task31</a>
    </div>
    <div><a
        href='/shophome'
        class='btn btn-primary mb-3'
      >Shophome</a>
    </div>
    <div><a
        href='/shoporder'
        class='btn btn-primary mb-3'
      >Shoporder</a>
    </div>
    <div><a
        href='/shopcart'
        class='btn btn-primary mb-3'
      >Shopcart</a>
    </div>
    <div><a
        href='/shopprofile'
        class='btn btn-primary mb-3'
      >Shopprofile</a>
    </div>
    <div><a
        href='/shopreview'
        class='btn btn-primary mb-3'
      >Shopreview</a>
    </div>
    <div><a
        href='/shopcatalog'
        class='btn btn-primary mb-3'
      >Shopcatalog</a>
    </div>
  </section>
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}