<footer>
  <div class='row'>
    {{#each footer}}
      <div class='col-2'>
        {{#each this}}
          <div class="nav flex-column">
            <div class="nav-item">
              <a href="{{link}}" class="nav-link {{#if @last}} disabled {{/if}}">{{text}}</a>
            </div> 
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</footer>