<div class='card mb-5'>
  <ul class='nav nav-tabs'>
    {{#each navigation.links}}
      <li><a
          href='{{href}}'
          class='nav-link'
        >{{text}}</a></li>
    {{/each}}
  </ul>
</div>